<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Navigation">
  <ion-content class="padding">
    <div class="row nav">
      <div class="col col-10 nav-details">
        <div class="list card">
          <div class="item item-divider">
            Parcel details
          </div>
          <div class="item">
            Enter home address<br/>
            Enter home address<br/>
            Enter home address<br/>

          </div>
          <a href="#" class="item item-icon-left">
            <i class="icon ion-ios-telephone"></i>
            Enter phone number
          </a>

          <a href="#" class="item item-icon-left">
            <i class="icon ion-wifi"></i>
            Enter wireless password
          </a>

          <a href="#" class="item item-icon-left">
            <i class="icon ion-card"></i>
            Enter card information
          </a>
        </div>
        <div class="list card">
          <div class="item item-divider">
            Parcel details
          </div>
          <div class="item">
            Enter home address<br/>
            Enter home address<br/>
            Enter home address<br/>

          </div>
          <a href="#" class="item item-icon-left">
            <i class="icon ion-ios-telephone"></i>
            Enter phone number
          </a>

          <a href="#" class="item item-icon-left">
            <i class="icon ion-wifi"></i>
            Enter wireless password
          </a>

          <a href="#" class="item item-icon-left">
            <i class="icon ion-card"></i>
            Enter card information
          </a>
        </div>
      </div>
      <div class="col col-80">
        <div class="row">
          <div class="col nav-bar">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="100%" height="50">
              <navi-bar/>
            </svg>
          </div>
        </div>
        <div class="row">
          <div class="col nav-map">Nav Map</div>
        </div>
      </div>
      <div class="col col-10 nav-stats">c</div>
    </div>
  </ion-content>
</ion-view>
