<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Navigation">
  <ion-content class="padding">
    <div class="row nav">
      <div class="col col-10 nav-details">a</div>
      <div class="col col-80">
        <div class="row">
          <div class="col nav-bar">Nav Bar</div>
        </div>
        <div class="row">
          <div class="col nav-map">
            <svg width="640" height="480" xmlns="http://www.w3.org/2000/svg">
             <!-- Created with SVG-edit - http://svg-edit.googlecode.com/ -->
             <g>
              <title>Layer 1</title>
              <path id="svg_7" d="m226,256l-170,-196l311,-3l188,54l22,165l-137,150l-338,-5" stroke-linecap="null" stroke-linejoin="null" stroke-width="5" stroke="#000000" fill="none"/>
             </g>
             <g>
              <title>Layer 2</title>
              <path id="svg_7" d="m200,256l-170,-196l311,-3l188,54l22,165l-137,150l-338,-5" stroke-linecap="null" stroke-linejoin="null" stroke-width="5" stroke="#000000" fill="none"/>
             </g>
            </svg>
          </div>
        </div>
      </div>
      <div class="col col-10 nav-stats">c</div>
    </div>
  </ion-content>
</ion-view>
